
@{
    if (User.IsInRole("Doctor") || User.IsInRole("Nurse"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("Patient"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml"; // Default layout
    }
}
@inject IViewLocalizer localizer
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@using presentationLayer.Models.Appointment.ViewModel
@using presentationLayer.Models.Appointment.ViewModel
<!DOCTYPE html>

    <head>
        <!-- Title -->
        <title>@localizer["Book Appointment"]</title>
        <link rel="stylesheet" href="~/css/Home.css">
        <link rel="stylesheet" href="~/css/responsive.css">
    </head>

<body>

<!-- start Appointment -->
<partial name="_AppointmentFormPartial"/>
<!-- End Appointment -->

<!--/End Start Schedule Area -->

<!-- For Lyout -->
<!-- jquery Min JS -->
<script src="~/js/jquery.min.js"></script>

<!-- Main JS -->
<script src="~/js/main.js"></script>
<!-- For Lyout -->

</body>
